In [14]:
import pandas as pd

poblacion = pd.read_csv('poblacion_por_municipio_total.csv')
#  columns = dp	dpnom	dpmp	mpio	1985	1986	1987	1988	1989	1990	...	2026	2027	2028	2029	2030	2031	2032	2033	2034	2035
comida_por_persona = 1.3/1000

poblacion['demanda'] = poblacion['2024']*comida_por_persona

# Constantes
costo_por_m2 = 24450 / 4 # COP/semana

densidad_de_area_de_alimentos = 10.5/7.8 * 1.1 # ton/m2
# Demanda (Ton/semana) <- Ya lo tengo

poblacion['costo_de_facility'] = poblacion['demanda'] * costo_por_m2 / densidad_de_area_de_alimentos # COP/semana

demanda_por_departamentos = poblacion.groupby(['dp', 'dpnom']).sum()['demanda']
display(demanda_por_departamentos)

display(poblacion[['mpio', '2024', 'demanda', 'costo_de_facility']])


# Costo de transporte es  3364/10.5 COP/(ton*km)

dp  dpnom
5   Antioquia                      8974.8373
8   Atlántico                      3675.2612
11  Bogotá, D.C.                  10308.4007
13  Bolívar                        2943.8799
15  Boyacá                         1705.5779
17  Caldas                         1359.9430
18  Caquetá                         556.6106
19  Cauca                          2046.8578
20  Cesar                          1814.1318
23  Córdoba                        2489.2114
25  Cundinamarca                   4619.2809
27  Chocó                           787.1214
41  Huila                          1549.9549
44  La Guajira                     1374.4276
47  Magdalena                      1967.9166
50  Meta                           1489.4958
52  Nariño                         2222.8570
54  Norte de Santander             2222.4410
63  Quindio                         735.8624
66  Risaralda                      1266.0427
68  Santander                      3089.7568
70  Sucre                          1307.8572
73  Tolima                         1795.2324
76  Valle del Cauca                6041.5771
81  Arauca                          412.6174
85  Casanare                        617.6872
86  Putumayo                        505.3308
88  Archipiélago de San Andrés       80.9237
91  Amazonas                        112.2134
94  Guainía                          75.3142
95  Guaviare                        130.6461
97  Vaupés                           62.3493
99  Vichada                         163.1201
Name: demanda, dtype: float64

                mpio       2024    demanda  costo_de_facility
0           Medellín  2616335.0  3401.2355       1.544404e+07
1          Abejorral    21468.0    27.9084       1.267241e+05
2           Abriaquí     2855.0     3.7115       1.685286e+04
3         Alejandría     4955.0     6.4415       2.924901e+04
4              Amagá    32412.0    42.1356       1.913257e+05
...              ...        ...        ...                ...
1119  Yavaraté (ANM)     1233.0     1.6029       7.278311e+03
1120  Puerto Carreño    22614.0    29.3982       1.334888e+05
1121    La Primavera    11205.0    14.5665       6.614231e+04
1122   Santa Rosalía     4640.0     6.0320       2.738959e+04
1123        Cumaribo    87018.0   113.1234       5.136610e+05

[1124 rows x 4 columns]